table#datatablesSimple
    thead
        tr
            th User
            th Email
            th Role
            th Groups
            th Joined Date
            th Actions

    tfoot
        tr
            th User
            th Email
            th Role
            th Groups
            th Joined Date
            th Actions

    tbody
        tr
            td
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-1.png')
                    | Tiger Nixon
            td tiger@email.com
            td Administrator
            td 
                span.badge.bg-green-soft.text-green Sales
                span.badge.bg-blue-soft.text-blue Developers
                span.badge.bg-red-soft.text-red Marketing
                span.badge.bg-purple-soft.text-purple Managers
                span.badge.bg-yellow-soft.text-yellow Customer
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-2.png')
                    | Garrett Winters
            td gwinterse@email.com
            td Administrator
            td 
                span.badge.bg-green-soft.text-green Sales
                span.badge.bg-blue-soft.text-blue Developers
                span.badge.bg-red-soft.text-red Marketing
                span.badge.bg-purple-soft.text-purple Managers
                span.badge.bg-yellow-soft.text-yellow Customer
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-3.png')
                    | Ashton Cox
            td ashtonc@email.com
            td Registered
            td 
                span.badge.bg-green-soft.text-green Sales
                span.badge.bg-red-soft.text-red Marketing
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-4.png')
                    | Cedric Kelly
            td cedrickel@email.com
            td Registered
            td
                span.badge.bg-green-soft.text-green Sales
                span.badge.bg-purple-soft.text-purple Managers
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-5.png')
                    | Airi Satou
            td asatou@email.com
            td Registered
            td
                span.badge.bg-yellow-soft.text-yellow Customer
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-6.png')
                    | Brielle Williamson
            td bwilliamson@email.com
            td Registered
            td
                span.badge.bg-yellow-soft.text-yellow Customer
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-1.png')
                    | Herrod Chandler
            td harrodc@email.com
            td Registered
            td
                span.badge.bg-green-soft.text-green Sales
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-2.png')
                    | Rhona Davidson
            td rhonadavidson@email.com
            td Registered
            td
                span.badge.bg-green-soft.text-green Sales
                span.badge.bg-purple-soft.text-purple Managers
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-3.png')
                    | Colleen Hurst
            td churst@email.com
            td Registered
            td
                span.badge.bg-blue-soft.text-blue Developers
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-4.png')
                    | Sonya Frost
            td sfrost@email.com
            td Registered
            td
                span.badge.bg-yellow-soft.text-yellow Customer
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-5.png')
                    | Jena Gaines
            td jenagaines@email.com
            td Registered
            td
                span.badge.bg-yellow-soft.text-yellow Customer
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-6.png')
                    | Quinn Flynn
            td qflynn@email.com
            td Registered
            td
                span.badge.bg-green-soft.text-green Sales
                span.badge.bg-purple-soft.text-purple Managers
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-1.png')
                    | Charde Marshall
            td chardmarsh@email.com
            td Registered
            td
                span.badge.bg-green-soft.text-green Sales
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-2.png')
                    | Haley Kennedy
            td hkennedy@email.com
            td Registered
            td
                span.badge.bg-yellow-soft.text-yellow Customer
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-3.png')
                    | Tatyana Fitzpatrick
            td tatfitz@email.com
            td Registered
            td
                span.badge.bg-yellow-soft.text-yellow Customer
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-4.png')
                    | Michael Silva
            td michaelsilva@email.com
            td Registered
            td
                span.badge.bg-blue-soft.text-blue Developers
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-5.png')
                    | Paul Byrd
            td pbyrd@email.com
            td Registered
            td
                span.badge.bg-yellow-soft.text-yellow Customer
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-6.png')
                    | Gloria Little
            td glorialittle@email.com
            td Registered
            td
                span.badge.bg-blue-soft.text-blue Developers
                span.badge.bg-purple-soft.text-purple Managers
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-1.png')
                    | Bradley Greer
            td bgreer@email.com
            td Registered
            td
                span.badge.bg-yellow-soft.text-yellow Customer
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td 
                .d-flex.align-items-center
                    .avatar.me-2
                        img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-2.png')
                    | Dai Rios
            td drios@email.com
            td Registered
            td
                span.badge.bg-blue-soft.text-blue Developers
            td 20 Jun 2021
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='user-management-edit-user.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
