table#datatablesSimple
    thead
        tr
            th Post Title
            th Date
            th Status
            th Actions

    tfoot
        tr
            th Post Title
            th Date
            th Status
            th Actions

    tbody
        tr
            td Boots on the Ground, Inclusive Thought Provoking Ideas
            td 20 Jun 2021
            td
                .badge.bg-gray-200.text-dark Draft
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='blog-management-edit-post.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td Invest In Social Impact
            td 19 Jun 2021
            td
                .badge.bg-yellow-soft.text-yellow Pending Approval
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='blog-management-edit-post.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td Save the World, Social Entrepreneur
            td 18 Jun 2021
            td
                .badge.bg-green-soft.text-green Published
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='blog-management-edit-post.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td Design Thinking Benefits Corporation Thought Leadership
            td 17 Jun 2021
            td
                .badge.bg-green-soft.text-green Published
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='blog-management-edit-post.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td Collaborative Consumption, Human-Centered Technology Thought Leader Systems
            td 16 Jun 2021
            td
                .badge.bg-green-soft.text-green Published
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='blog-management-edit-post.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td Co-create, Empower - Moving the Needle on Investor Interests
            td 14 Jun 2021
            td
                .badge.bg-green-soft.text-green Published
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='blog-management-edit-post.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td Inclusive Shared Units of Analysis
            td 13 Jun 2021
            td
                .badge.bg-green-soft.text-green Published
            td
                a.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(href='blog-management-edit-post.html')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
