table#datatablesSimple
    thead
        tr
            th Group Name
            th Total Members
            th Created Date
            th Actions

    tfoot
        tr
            th Group Name
            th Total Members
            th Created Date
            th Actions

    tbody
        tr
            td Sales
            td 8
            td 20 Jun 2021
            td
                button.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(type='button', data-bs-toggle='modal', data-bs-target='#editGroupModal')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td Developers
            td 6
            td 20 Jun 2021
            td
                button.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(type='button', data-bs-toggle='modal', data-bs-target='#editGroupModal')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td Marketing
            td 3
            td 20 Jun 2021
            td
                button.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(type='button', data-bs-toggle='modal', data-bs-target='#editGroupModal')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td Managers
            td 6
            td 20 Jun 2021
            td
                button.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(type='button', data-bs-toggle='modal', data-bs-target='#editGroupModal')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')
        tr
            td Customer
            td 10
            td 20 Jun 2021
            td
                button.btn.btn-datatable.btn-icon.btn-transparent-dark.me-2(type='button', data-bs-toggle='modal', data-bs-target='#editGroupModal')
                    i(data-feather='edit')
                a.btn.btn-datatable.btn-icon.btn-transparent-dark(href='#!')
                    i(data-feather='trash-2')