mixin footer(options)

    footer.footer-admin.mt-auto(class=options.footerStyle)
        .container-xl.px-4
            .row
                .col-md-6.small
                    | Copyright &copy; Your Website 2021
                .col-md-6.text-md-end.small
                    a(href='#!') Privacy Policy
                    | 
                    | &middot;
                    | 
                    a(href='#!') Terms &amp; Conditions
